/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/* Fontawesome */
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */

