#footer {
  position: relative;
  background-image: url("../../images/frise.png");
  background-size: cover;
  background-position: 10% 69%;
  justify-content: center;
  text-align: center;
  padding: 15vh;
} 
#footer ul > li {
  display: inline-block;
  padding: 15px;
  font-size: 25px;
}

#footer p {
  font-size: 15px;
  text-align: top;
}

.text-footer {
  position: absolute;
  top: -4px;
}